.header {
  background-color: var(--header-bg);
  padding: 92px 0 0;
  min-height: 100vh;
  .container {
    width: 100%;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    padding: 0 20px;
    color: var(--title-black);
    font-size: 38px;
    border-radius: 2px;
    border: solid 3.5px rgba(#170f1c, 0.6);
    transition: border-color 0.2s ease;
    span {
      color: var(--title-orange);
    }
    &:hover {
      color: var(--title-black);
      border-color: var(--title-orange);
    }
  }
  &__burger {
    color: rgba(#170f1c, 0.6);
    font-size: 30px;
    transition: color .2s ease;
    &:hover {
        color: var(--title-black);
    }
  }
}
