.products {
  padding: 50px 0;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    flex-basis: calc(25% - 15px * 4 / 3);
    margin-right: 15px;
    margin-bottom: 15px;
    &:last-child {
        margin-right: 0;
    }
  }
}
